/* Main content layout */
.main-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 2rem;
}

/* Left side content */
.left-side {
    width: 30%; /* Adjust the width as needed */
    padding-right: 2rem;
}

/* Right side content */
.right-side {
    width: 65%; /* Adjust the width as needed */
}

/* General section styling */
section {
    padding: 2rem;
    margin: 1rem auto;
    max-width: 800px;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

/* Adjusting vertical spacing between sections */
section {
    margin-bottom: 2rem;
}

h2, h3 {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 0;
    color: #2c3e50; /* Matching the header's classic navy blue */
}

/* Adding a bit more space between paragraphs */
p {
    margin-bottom: 1.5rem;
    line-height: 1.6;
}

ul {
    margin-bottom: 1.5rem;
    padding-left: 20px; /* Adds indentation to the list */
}

ul li {
    margin-bottom: 0.5rem; /* Adds space between list items */
}
